* {
  color: rgb(103, 103, 104);
}

html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: rgb(169, 171, 173);
}


footer {
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(103, 103, 104);
  margin-top: 16%;
  color: aliceblue;

}
header nav ul li{
  float: left;
  margin-right:1%;
  padding: 1%;
  background-color: rgb(73, 100, 221);
  list-style: none;
  color: rgb(227, 228, 200);
  border-radius: 10px;
  margin-bottom: 1.5%;
}
div {
  clear: both;
  
}
h1{
  text-align:
   center;
}
h2{
  color: rgb(230, 239, 247);
}
a{
  color: rgb(227, 228, 200);
  list-style: none;
}

